{
	PATH = "/Users/ravage/.rbenv/shims /usr/local/bin /usr/local/sbin /usr/bin /bin /usr/sbin /sbin /usr/local/bin /Users/ravage/SDK/SenchaTouch /Users/ravage/SDK/Android/tools /Users/ravage/SDK/Android/platform-tools /usr/local/texlive/2012/bin/x86_64-darwin /usr/local/share/npm/bin /usr/local/go/bin /Users/ravage/.bin";
}
